<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${itemInfo}">
    <h2 th:text="*{name}"></h2><br>
    <p th:text="'카테고리: ' + *{category.displayName}"></p>
    <p th:text="'이름: ' + *{name}"></p>
    <p th:text="'가격: ' + *{price}"></p>
    <p th:text="'남은 수량: ' + *{itemCount}"></p>
    <p th:text="*{reviewCount} != null ? '리뷰 수: '  + *{reviewCount} : '리뷰 수: 리뷰가 없습니다.'"></p>
    <p th:text="*{reviewAverage} != null ? '리뷰 평균 점수: ' + *{reviewAverage} : '리뷰 평균 점수: 리뷰가 없습니다.'"></p>
    <p th:text="*{sales} != null ? '판매량: ' + *{sales} : '판매량: 판매량이 없습니다.'"></p>
</form><br>
<button th:if="${mine} eq true">수정</button><br>
<button th:if="${mine} eq true">삭제</button>
<button th:if="!${mine}" th:onclick="|window.open('/shop/purchase/' + ${itemInfo.id}, 'purchaseInfo', 'width=400,height=500')|">구매</button>

<h3>리뷰</h3>
<form th:object="${reviewWrite}" th:action="@{/review/write/{itemId}(itemId=${itemInfo.id})}" method="post">
    <p>리뷰 작성</p>
    <div>
        <label for="reviewTitle">리뷰 제목:</label><br>
        <input type="text" id="reviewTitle" name="reviewTitle" th:field="*{title}"
               style="width: 300px; height: 38px; font-size: 16px;" placeholder="리뷰 제목을 입력하세요">
    </div>
    <br>
    <div>
        <label for="reviewContent">리뷰 내용:</label><br>
        <textarea id="reviewContent" name="reviewContent" th:field="*{content}"
                  style="width: 400px; height: 150px; font-size: 14px;" placeholder="리뷰 내용을 입력하세요"></textarea>
    </div>
    <div>
        <label>평점:</label><br>
        <div th:each="i : ${#numbers.sequence(1, 5)}">
            <label>
                <input type="radio" th:field="*{point}" th:value="${i}"> <span th:text="${i}"></span>
            </label>
        </div>
    </div>
    <br>
    <button type="submit" style="font-size: 14px; padding: 8px 16px;">리뷰 제출</button>
</form>

<div class="col-md-12">
    <!-- 목록 출력 영력 -->
    <table class="table table-horizontal table-bordered">
        <tr>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th>생성일</th>
        </tr>
        <tr th:each="review: ${reviewPage}">
            <td th:text="${review.title}"></td>
            <td th:text="${review.content}"></td>
            <td th:text="${review.writer}"></td>
            <td><span th:text="${#temporals.format(review.time,'yyyy-MM-dd HH:mm')}"></span></td>
        </tr>
    </table>
    <!-- 첫번째 페이지로 이동 -->
    <a th:href="@{/shop/info/{itemId}(page=1, itemId=${itemInfo.id})}">첫 페이지 </a>
    <!-- 이전 링크 활성화 비활성화 -->
    <a th:href="${reviewPage.first} ? '#' : @{/shop/info/{itemId}(page=${reviewPage.number}, itemId=${itemInfo.id})}"> 이전 </a>
    <!-- 페이지 번호 링크(현재 페이지는 숫자만)
               for(int page=startPage; page<=endPage; page++)-->
    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
        <!-- 현재페이지는 링크 없이 숫자만 -->
        <span th:if="${page == reviewPage.number + 1}" th:text="${page}"></span>
        <!-- 현재페이지 링크 X, 다른 페이지번호에는 링크를 보여준다 -->
        <span th:unless="${page == reviewPage.number + 1}"><a th:href="@{/shop/info/{itemId}(page=${page}, itemId=${itemInfo.id})}" th:text="${page}"></a>
        </span>
    </span>
    <!-- 다음 링크 활성화 비활성화 -->
    <a th:href="${reviewPage.last} ? '#' : @{/shop/info/{itemId}(page=${reviewPage.number + 2}, itemId=${itemInfo.id})}"> 다음 </a>
    <!-- 마지막 페이지로 이동 -->
    <a th:href="@{/shop/info/{itemId}(page=${reviewPage.totalPages}, itemId=${itemInfo.id})}"> 마지막 페이지</a>
</div>


</body>
</html>