<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:object="${purchaseInfo}">
        <h3 th:text="*{memberName} + '님의 구매'"></h3>
        <p th:text="'카테고리: ' + *{category.displayName}"></p>
        <p th:text="'상품 이름: ' + *{itemName}"></p>
        <p th:text="'가격: ' + *{price}"></p>
        <p th:text="'남은 수량: ' + *{existItemCount}"></p>
    </form>
    <p>===================================</p>
    <p>수량 선택</p>
    <form th:object="${purchaseSubmit}" th:action="@{/shop/purchase/{itemId}(itemId=${purchaseInfo.itemId})}" method="post">
        <select name="count" th:value="*{count}">
            <option th:each ="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}">
            </option>
        </select>
        <button>구매</button>
    </form>
<script> //폼 전송이 되기전에 브라우저가 내려가 작동을 안하는 문제 발생
    function confirmPurchase() {
        alert('구매하였습니다.');
        window.close();
        return true;
    }
</script>


</body>
</html>